<h1>Edit</h1>
<form class="form" action="/{{person.id}}/blogger-edit" method="post">
  <input type="text" name="first_name" value="{{person.first_name}}">
  <input type="text" name="last_name" value="{{person.last_name}}">
  <input type="text" name="username" value="{{person.username}}">
  <input type="number" name="age" value="{{person.age}}"><br>
  <input type="submit" value="Submit">
</form>
